.solr * {
	line-height: 1;
	padding: 0;
	margin: 0;
	text-align: left;
}
.solr ol, .solr ul, .solr ol li, .solr ul li {
	background: none;
	list-style-type: none;
	overflow: hidden; /* IE7 */
}
.solr h2 {font-size:16px;}
.solr h3 {font-size:14px;}
.solr {
	font-size: 12px;
	line-height: 1;
	margin: 0;
	padding: 20px;
	width: auto;
}
div.solr1 {
	border-bottom: 1px solid #cccccc;
}
div.solr_search {
	clear: both;
	padding: 0 0 12px;
}
div.solr_search input {
	font-size: 18px;
}
.solr_field {
	border: 1px solid #b7b7b7;
	border-top: 2px solid #999999;
	padding: 3px;
	margin: 0 8px 0 0;
	width: 330px;
}
ol.solr_auto {
	background: #ffffff;
	border: 1px solid #b7b7b7;
	width: 336px;
	padding: 6px 0;
	position: absolute;
	clear: both; /* IE6 */
	z-index: 100;
}
.solr_auto li {
	padding: 2px 8px;
}
.solr_auto li:hover {
	background: #efffb0;
}
div.solr_suggest {
	padding: 0 0 5px;
}
label.solr_response {
	font-size: 10px;
	color: #666666;
	float: right;
	position: relative;
	top: 13px;
}
div.solr3 {
	float: left;
	padding: 18px 2% 0 0;
	width: 15%;
}
.solr_active span {
	border-top: 4px solid #ffffff;
	border-left: 5px solid #999999;
	border-bottom: 4px solid #ffffff;
	font-size: 0;
	line-height: 0;
	width: 0;
	margin: 0 4px 0 0;
	position: relative;
	bottom: 4px;
	zoom: 1; /* IE7 */
}
.solr_active b {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	color: #999999;
}
.solr_active a {
	text-decoration: none;
}
.solr_facets ol li {
	padding: 3px 0 3px;
}
.solr_facets ol li ol {
	padding: 3px 0 0 10px;
}
.solr_facets h3 {
	padding: 10px 0 3px;
}
.solr_active ol li {
	padding: 3px 0;
}
.solr_active a {
	color: #000000;
}
div.solr2 {
	float: right;
	width: 83%;
}
div.solr_results_header {
	font-size: 10px;
	color: #666666;
	padding: 0 0 4px;
}
div.solr_results_headerL {
	width: 60%;
	float: left;
	padding: 5px 0 0 12px;
}
div.solr_results_headerR {
	width: 35%;
	font-weight: bold;
	float: right;
}
.solr_sort {
	margin: 4px 4px 0 0;
	float: right;
}
ol.solr_sort2 {
	background: #ffffff;
	text-decoration: none;
	border: 1px solid #cccccc;
	padding: 2px 0 1px;
	float: right;
}
.solr_sort2 li {
	display: block; /* FF3 */
	padding: 2px 2px 2px 4px;
}
.solr_sort2 li:hover {
	background: #efffb0;
}
.solr_sort2 a {
	text-decoration: none;
}
.solr_sort_drop span {
	border-top: 4px solid #999999;
	border-right: 4px solid #ffffff;
	border-left: 5px solid #ffffff;
	font-size: 0;
	line-height: 0;
	width: 0;
	margin: 0 0 0 2px;
	position: relative;
	bottom: 1px;
	zoom: 1; /* IE7 */
}

.solr_results ol {
	font-size: 12px;
	padding: 0 0 14px;
	clear: both; /* IE7 */
}
.solr_results li {
	border-bottom: 1px solid #e6e6e6;
	padding: 14px 12px;
}
.solr_results li:hover {
	background: #efffb0;
}
.solr_results img {
	height: 50px;
	border: 1px solid #cccccc;
	float: right;
	display: block;
	margin: 0 0 0 5px;
}
.solr_results h2 {
	font-weight: normal;
	line-height: 1.1;
	padding: 0 0 5px;
}
.solr_results label {
	font-size: 10px;
	color: #666666;
	padding: 5px 0 0;
	display: block;
}
.solr_pages {
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}
.solr_pages a {
	margin: 0 0 0 5px;
}
.solr_pages_on {
	color: #000000;
}
div.solr_noresult {
	padding: 20px 5% 40px 0;
}
.solr_noresult h2 {
	font-weight: normal;
	line-height: 1.2;
	padding: 0 0 14px;
}
.solr_noresult h3 {
	font-weight: normal;
	line-height: 1.2;
	padding: 0 0 14px;
}
.solr_noresult p {
	font-weight: normal;
	line-height: 1.2;
}


.solr_HL {
	background: #efffb0;
}

.solr_admin {
	font-size: 14px;
	color: #464646;
	min-width: 800px;
	padding: 0 0 20px;
}
.solr_admin h4 {
	font-family: Georgia;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
}
.solr_admin h4 input {
	margin-right: 3px;
}
.solr_admin h5 {
	font-size: 14px;
	padding: 0 0 12px;
}
.solr_admin ol {
	list-style-type: none;
	width: 35%;
	float: right;
	position: relative;
	left: 1px;
	margin-left: 0;
}
.solr_admin li {
	color: #999999;
	background: #eeeeee;
	padding: 12px;
	margin-bottom: 0;
}
.solr_admin ol li ol {
	width: auto;
	float: none;
	left: 0;
	padding: 5px 0 0 32px;
}

.solr_admin ol li ol li {
	font-size: 12px;
	line-height: 1.2;
	background: none;
	list-style-type: disc;
	list-style-position: outside;
	padding: 1px 0;
}

.solr_admin_tab1 {
	border: 1px solid #cccccc;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
}

.solr_admin_tab2 {
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
}

.solr_admin_tab2 h4 {
	font-size: 18px;
}

.solr_admin_tab3 {
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
}

.solr_admin_tab3 h4 {
	font-size: 18px;
}
.solr_adminR {
	background: #ffffff;
	float: right;
	width: 65%;
}

li.solr_admin_on {
	color: #464646;
	background: #ffffff;
	border-right: 1px solid #eeeeee;
}

li.solr_admin_on li {
	color: #464646;
}

.solr_adminR1, .solr_adminR2 {
	border: 1px solid #cccccc;
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	padding: 24px 32px;
}
.solr_adminR2 {
	display: none;
}
.solr_adminR label {
	display: block;
	padding: 0 0 2px 3px;
}
.solr_adminR span {
	font-size: 11px;
	font-weight: bold;
	color: #00CC00;
	font: block;
	padding: 0 0 2px 3px;
}
span.solr_admin_warning {
	color: #FF9900;
}
.solr_adminR p {
	padding: 0 0 10px;
}
.solr_adminR input[type=text] {
	width: 220px;
}

/*CLEARFIX*/
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.clearfix {
	display: block;/*the holly hack for a bug in IE6 for Windows*/
}
* html .clearfix {height: 1%;}/* Hides from IE-mac \*/
/* END CLEARFIX*/
.clear {
	clear: both;
}
